
.hero-slide {
  @apply mb-12;
}

.hero-slide__item {
  @apply w-full h-screen relative bg-center bg-cover bg-no-repeat px-0 py-36 before:content-[""] before:absolute before:w-full before:h-screen before:left-0 before:top-0 after:content-[""] after:absolute after:w-full after:left-0 after:bottom-0 after:top-0 after:right-0 after:h-screen;
}
.hero-slide__item::before {
  @apply bg-gradient-to-b 
                from-[#000]/90 via-[#000]/40 to-[#0e1012];
}

.hero-slide__item__content {
  @apply relative flex items-center justify-center w-full;
}
.hero-slide__item__content__info {
  @apply lg:w-[55%] z-[50] relative px-12 py-0 w-full;
}
.hero-slide__item__content__info > * ~ * {
  @apply mt-10 md:mt-12;
}
.hero-slide__item__content__info .title {
  @apply text-[2rem] font-bold leading-none lg:text-[4rem];
}
.hero-slide__item__content__info .overview {
  @apply font-bold text-[0.8rem] md:text-[1rem] ;
}
.hero-slide__item__content__info .btns > * ~ * {
  @apply ml-4;
}
.hero-slide__item__content__info .btns,
.hero-slide__item__content__info .title,
.hero-slide__item__content__info .overview {
  @apply opacity-0 translate-y-[-100px];
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.hero-slide__item__content__poster {
  @apply flex-1  flex items-center justify-center z-20 ;
}
.hero-slide__item__content__poster img {
  @apply w-[400px] rounded-[30px]  shadow-[rgba(100_100_111_0.2)] transition-transform duration-700 ease-in-out scale-0;
}

.hero-slide__item.active
  > .hero-slide__item__content
  > .hero-slide__item__content__poster
  img {
  @apply scale-100;
}
.hero-slide__item.active
  > .hero-slide__item__content
  > .hero-slide__item__content__info
  .btns,
.hero-slide__item.active
  > .hero-slide__item__content
  > .hero-slide__item__content__info
  .title,
.hero-slide__item.active
  > .hero-slide__item__content
  > .hero-slide__item__content__info
  .overview {
  @apply opacity-100 translate-y-0;
}
.hero-slide__item.active
  > .hero-slide__item__content
  > .hero-slide__item__content__info
  .title {
    transition-delay: 0.6s, 0.6s;
}
.hero-slide__item.active
  > .hero-slide__item__content
  > .hero-slide__item__content__info
  .overview {
    transition-delay: 0.6s, 0.6s;
}
.hero-slide__item.active
  > .hero-slide__item__content
  > .hero-slide__item__content__info
  .btns {
    transition-delay: 0.9s, 0.9s;
}









.movie-list  .swiper-slide{
    @apply  w-[40%] md:w-[20%] xl:w-[17%]
}

.movie-list.top  .swiper-slide {
    @apply  w-[20%] md:w-[13%] xl:w-[11%]
}



.movie-card {
    @apply relative bg-top bg-no-repeat bg-cover rounded-[30px] mb-4 pt-[160%] before:content-[""] before:absolute before:bg-[#000] before:opacity-0 before:transition-opacity before:duration-300 before:ease-in-out before:rounded-[30px] before:inset-0;
  }
  .movie-card .btn {
    @apply absolute -translate-x-2/4 -translate-y-2/4 scale-0 left-2/4 top-2/4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    .movie-card:hover::before {
      @apply opacity-70 ;
    }
    .movie-card:hover .btn {
      @apply -translate-x-2/4 -translate-y-2/4 scale-100;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .movie-card.top:hover::before {
      @apply opacity-20;
    }
  }